.pagination {
  display: flex;
  list-style: none;
  margin-top: 20px;
  padding: 0;
}

.pagination a {
  cursor: default;
  padding: 10px;
  border-radius: 50px;
  border: 1px solid #ddd; 
  border: #212529;
  color: #212529;
  margin-left: 10px;
}

.pagination li:not(.disabled) a:hover {
  cursor: pointer;
  background-color: #ddd;
}

.pagination li a {
    color: black;
    float: left;
    padding: 4px 8px;
    text-decoration: none;
    border-radius: 80px;
}

.pagination li.active a {
  color: #fff;
  background: #212529;
}
