  .custom-file-upload {

    display: inline-block;

    cursor: pointer;
  }
  
  input[type="file"] {
    display: none;
  }

  .img-wrapper{
    overflow:hidden;
  }
  
  img.hover-zoom:hover {
    transform: scale(1.55);
  }

  .cardStyle {
    margin: 0 auto;
    position: relative;
    background: #FFF;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    height: 450;
    width: 350;
  } 

  .cardBg {
    background: #FFF;
  } 

  .cardmsg {
    height: 300;
    width: 600;
  }

  .cardDemande {
    height: 300;
    width: 600;
  }